<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handwritten Digit Recognition</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
            margin: 0;
            padding: 20px;
        }
    </style>
</head>
<body>
        <h1>Digit Recognition </h1>
        <p>Upload your file here (Try Drag and Drop)</p>

        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept=".png, .jpg, .jpeg, .gif, .bmp">
            <button type="submit" class="btn">Predict</button>
        </form>

        {% if result %}
        <img src="data:image/jpeg;base64,{{ image }}" alt="Uploaded Image" id="uploaded-image">

        <div class="result">
            <p>{{ result }}</p>
        </div>
        {% endif %}

</body>
</html>
